<div class="page-header" filter-color="black" style="background-color: #333333;">
    <div class="main">

        <div class="section" style="background-color: #333333; color: cornsilk; font-weight: 600;">
            <h2 class="sorteios" style="text-align: center;">Sorteios</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-3" *ngFor="let rifa of rifas">
                        <mdb-card style="background-color: #333333; color: cornsilk; font-weight: 600;">
                            <!--Card image-->
                            <mdb-card-img class="imagemrifa" src="{{selecionaImagem(rifa.images)}}" alt="Card image cap"
                                data-ride="carousel"></mdb-card-img>
                            <!--Card content-->





                            <div class="col-md-12 esquerda">
                                <h4>{{ rifa.vehicle.model }} - {{ rifa.vehicle.year }}</h4>
                                <h5 class="tam">{{ rifa.vehicle.observation }}</h5>
                                <h6 class="tam">{{ rifa.description }}</h6>
                            </div>




                            <div class="col-md-12">
                                <a href="/rifas/{{rifa.id}}" mdbBtn
                                    class="btn btn-outline-warning waves-light w-100 p-3"
                                    *ngIf="rifa.status == 'ESGOTADO'"
                                    style="margin-left: -1px; font-weight: 700; font-size: 20px;"
                                    mdbWavesEffect>Esgotado</a>
                                <a href="/rifas/{{rifa.id}}" mdbBtn class="btn btn-outline-danger waves-light w-100 p-3"
                                    *ngIf="rifa.status == 'ENCERRADO'"
                                    style="margin-left: -1px; font-weight: 700; font-size: 20px;" mdbWavesEffect>Ver
                                    Resultado</a>
                                <a href="/rifas/{{rifa.id}}" mdbBtn
                                    class="btn btn-outline-warning waves-light w-100 p-3"
                                    *ngIf="rifa.status == 'ABERTO'"
                                    style="margin-left: -1px; font-weight: 700; font-size: 20px;" mdbWavesEffect>Comprar
                                    Rifa</a>
                                <a href="/rifas/{{rifa.id}}" mdbBtn
                                    class="btn btn-outline-warning waves-light w-100 p-3"
                                    *ngIf="rifa.status == 'PAUSADO'"
                                    style="margin-left: -1px; font-weight: 700; font-size: 20px;" mdbWavesEffect>Em Breve!</a>

                            </div>
                        </mdb-card>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <footer class="footer position-relative" data-background-color="black">
        <div class="container center">

            <div class="row">
                <div class="col-md-3">

                    <h5>
                        <i class="fas fa-search"></i>
                        ESCOLHA O SORTEIO</h5>
                    <p>
                        Escolha o prêmio que gostaria de concorrer, verifique a descrição, regulamento do sorteio e
                        fotos em caso de dúvidas entre em contato com o administrador
                    </p>

                </div>
                <div class="col-md-3">
                    <h5>
                        <i class="fas fa-check-circle"></i>
                        SELECIONE SEUS NÚMEROS</h5>
                    <p>
                        Você pode escolher quantos números desejar!
                        Mais números, mais chances de ganhar
                    </p>
                </div>
                <div class="col-md-3">
                    <h5>
                        <i class="fas fa-dollar-sign"></i>
                        FAÇA O PAGAMENTO</h5>
                    <p>Faça o pagamento em umas das contas exibidas.
                        Envie o comprovante ao administrador via whatsapp.</p>
                </div>
                <div class="col-md-3">
                    <h5>
                        <i class="fas fa-star"></i>
                        AGUARDE O SORTEIO</h5>
                    <p>Aguarde o sorteio pela Loteria Federal
                        Cruze os dedos
                        Você pode ser o próximo sorteado</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <h4>
                        <a href="https://www.instagram.com/rifasterradomel/?hl=pt-br" target="_blank"><img
                                class="link_thumb" src="" title=""> <i class="fab fa-instagram"></i> Instagram</a>
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4>
                        <a href="https://chat.whatsapp.com/E1Lv3kP6nGV27VXhXzBgIO" class="borda" target="_blank"> <i
                                class="fab fa-whatsapp"> </i> Grupo Whatsapp </a>
                    </h4>
                </div>
            </div>

            <div class="container">


                <div class="row">
                    <div class="col-md-12">
                        <a href="https://www.instagram.com/rifasterradomel/?hl=pt-br" class="fim">
                            Todos os direitos reservados, Rifas terra do mel
                        </a>
                    </div>
                </div>

            </div>



        </div>
    </footer>
</div>