<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="" style="color: darkgoldenrod;">
    
    <div class="container">
      <div class="navbar-translate">
            <a class="" [routerLink]="['/index']" placement="bottom" ngbTooltip="">
              <img src="assets/img/logo-rifa.png" width="" height="" alt="" srcset="" class="logo1">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLink="rifas">
                      <i class="now-ui-icons files_paper"></i>
                      <p>Sorteios</p>
                  </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" placement="bottom" href="#pagar">
                      <i class="now-ui-icons business_money-coins"></i>
                      <p>Como pagar?</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="now-ui-icons ui-1_send"></i>
                        <p>Falar conosco</p>
                    </a>
                </li>

                <li class="nav-item">

                  <a href="https://chat.whatsapp.com/E1Lv3kP6nGV27VXhXzBgIO" target="_blank" class="nav-link " rel="tooltip" title="" data-placement="bottom" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    <p class="d-lg-none d-xl-none"> Grupo Whatsapp</p>
                  </a>

              </li>
               
                <li class="nav-item">
                 

                 
                  <a href="https://www.instagram.com/rifasterradomel/?hl=pt-br" target="_blank" class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <p class="d-lg-none d-xl-none">Instagram</p>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
