<div class="wrapper" style="background-color: #333333;">
    <div class="page-header page-header-small" filter-color="orange">
       
        
    </div>
    <div class="section contato" style="background-color: #333333; color: cornsilk; font-weight: 600;">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 center">
                  <h3>  Olá, olha como é fácil entrar em contato conosco...</h3>
                   <h6> Logo a baixo iremos disponibilizar alguns botões com links para os nossos contatos referente a cada sorteio é só clicar no botão.</h6>
                </div>
                
            </div>
            <div class="row">
            <div class="col-md-12 center">
                <br>
                <br>      
                <a href="https://chat.whatsapp.com/E1Lv3kP6nGV27VXhXzBgIO">
                    <button type="button" class="btn btn-success whatsapp"> <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        GRUPO WHATSAPP</button>
                    </a>
            </div> 

            <div class="col-md-12 center"> <h4>
                <a href="https://www.instagram.com/rifasterradomel/?hl=pt-br" target="_blank"><img class="link_thumb" src="" title="">  
                    <button type="button" class="btn btn-success insta"> <i class="fab fa-instagram"></i> INSTAGRAM</button>
                    </a>
            </h4>
        </div>
    </div>
    </div>
</div>

    <footer class="footer position-relative" data-background-color="black">
        <div class="container center">

            <div class="row" >
                <div class="col-md-3">
    
                    <h5><i class="fa fa-search" aria-hidden="true"></i>
                         ESCOLHA O SORTEIO</h5>
                    <p>
                        Escolha o prêmio que gostaria de concorrer, verifique a descrição, regulamento do sorteio e fotos em caso de dúvidas entre em contato com o administrador
                    </p>
    
                </div>
                <div class="col-md-3">
                    <h5><i class="fa fa-check-circle" aria-hidden="true"></i>
                        SELECIONE SEUS NÚMEROS</h5>
                    <p>
                        Você pode escolher quantos números desejar!
                        Mais números, mais chances de ganhar
                    </p>
                </div>
                <div class="col-md-3">
                    <h5><i class="fa fa-usd" aria-hidden="true"></i>
                         FAÇA O PAGAMENTO</h5>
                    <p>Faça o pagamento em umas das contas exibidas.
                        Envie o comprovante ao administrador via whatsapp.</p>
                </div>
                <div class="col-md-3">
                    <h5><i class="fa fa-star" aria-hidden="true"></i>
                        AGUARDE O SORTEIO</h5>
                    <p>Aguarde o sorteio pela Loteria Federal
                        Cruze os dedos
                        Você pode ser o próximo sorteado</p>
                </div>
        </div>


            <div class="row">
                <div class="col-md-6"> <h4>
                    <a href="https://www.instagram.com/rifasterradomel/?hl=pt-br" target="_blank"><img class="link_thumb" src="" title="">  <i class="fab fa-instagram"></i> Instagram</a>
                </h4>
                </div>
                <div class="col-md-6"> <h4>
                    <a href="https://chat.whatsapp.com/E1Lv3kP6nGV27VXhXzBgIO" class="borda" target="_blank"> <i class="fab fa-whatsapp"> </i> Grupo Whatsapp  </a>
                </h4>
                </div>
            </div>

            <div class="container">

            
            <div class="row">
                <div class="col-md-12">
                    <a href="https://www.instagram.com/rifasterradomel/?hl=pt-br" class="fim">
                        Todos os direitos reservados, Rifas terra do mel
                     </a>
                </div>
            </div>
           
        </div> 

            
           
        </div>
    </footer>
