<div class="page-header" filter-color="black" style="background-color: #333333;">
    <div class="main">

        <div class="section" style="background-color: #333333; color: cornsilk;">
            <h3 class="sorteios" style="text-align: center;"></h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <mdb-card style="background-color: #333333; color: cornsilk; font-weight: 600;">
                            <!--Card image-->
                            <mdb-carousel [isControls]="false" [animation]="'slide'">
                                <mdb-carousel-item *ngFor="let item of rifa.images">
                                    <img class="d-block w-100" src="{{item.url}}" alt="First slide">
                                </mdb-carousel-item>
                            </mdb-carousel>
                            <!--Card content-->
                        </mdb-card>

                    </div>
                    <div class="col-md-6 col">
                        <h4>{{ rifa.vehicle.model }} - {{ rifa.vehicle.year }}</h4>
                        <h5>{{ rifa.vehicle.observation }}</h5>
                        <h6>{{ rifa.description }}</h6>
                    </div>
                    <div class="container">
                        <div class="row" *ngIf="ganhador">
                            <div class="col-md-12">
                                <h4 style="color: red;">Ganhador: {{ ganhador.name }} - Número: {{ ganhador.point }}
                                </h4>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <a href="https://api.whatsapp.com/send?phone=558999143334&text=">
                                    <button type="button" class="btn btn-success whatsapp"> <i class="fa fa-whatsapp"
                                            aria-hidden="true"></i>
                                        ENVIAR COMPROVANTE</button>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"
                                style="float: left; font-weight: 700; margin-top: 0px; background-color: #333333;">
                                <button class="btn btn-info" (click)="filtro('ABERTO')"
                                    style="font-weight: 700;">ABERTO</button>
                                <button class="btn btn-warning" (click)="filtro('RESERVADO')"
                                    style="font-weight: 700;">RESERVADO</button>
                                <button class="btn btn-success" (click)="filtro('PAGO')"
                                    style="font-weight: 700;">PAGO</button>
                                <button class="btn btn-black" (click)="openBuscaPontosModal(classicdetails,'' , '');"
                                    style="font-weight: 700;">MEUS PONTOS</button>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngIf="mensagemPoint" class="alert alert-success" role="alert">
                                    {{mensagemPoint}}
                                </div>

                                <app-card [hidHeader]="true" cardClass="tab-card">
                                    <div class="points" *ngFor="let point of points">
                                        <button type="button" *ngIf="point.status == 'ABERTO'"
                                            [disabled]="rifa.status == 'PAUSADO'"
                                            (click)="open(classic,'' , ''); getPoint(point.point)"
                                            class="{{ checkStatusCor(point.status) }} redondo"
                                            ngbTooltip="{{ returnMensagem(point.point, point.status, point.name) }}">{{ point.point }}
                                        </button>
                                        <button type="button" *ngIf="point.status != 'ABERTO'"
                                            [disabled]="rifa.status == 'PAUSADO'" (click)="getPoint(point.point)"
                                            class="{{ checkStatusCor(point.status) }} redondo"
                                            ngbTooltip="{{ returnMensagem(point.point, point.status, point.name) }}">{{ point.point }}
                                        </button>
                                    </div>
                                </app-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="pagar" style="background-color: #333333; color: cornsilk; font-weight: 600;">

            <div class="container" style="background-color: #333333; color: cornsilk; font-weight: 600;">
                <h2 class="center"> Como pagar?</h2>
                <div class="row">
                    <div class="col-md-2 center">
                        <img src="assets/img/bb.jpg" class="img-thumbnail">
                        <p class="center">
                            Banco do Brasil <br>
                            Ag: 3350-2<br>
                            Conta Poupança: 14.332-4 <br>
                            Variacao: 51 <br>
                            Diego Ramon Rodrigues Alves <br>
                            Cpf: 047.470.473-44

                        </p>
                    </div>

                    <div class="col-md-2 center">
                        <img src="assets/img/banconeon.png" class="img-thumbnail">
                        <p class="center">
                            Banco Neon <br>
                            Ag: 0655 <br>
                            Conta: 4763128-7 <br>
                            Diego Ramon Rodrigues Alves <br>
                            Cpf: 047.470.473-44

                        </p>
                    </div>

                    <div class="col-md-2 center">
                        <img src="assets/img/santander.jpg" class="img-thumbnail">
                        <p class="center">
                            Santander <br>
                            Ag: 2246 <br>
                            C/c: 1001222-4 <br>
                            Diego Ramon Rodrigues Alves <br>
                            Cpf: 047.470.473-44
                        </p>
                    </div>

                    <div class="col-md-2 center">
                        <img src="assets/img/picpay.jpg" class="img-thumbnail">
                        <p class="center">
                            @diego.alves941<br>
                            Diego Alves
                        </p>
                    </div>

                    <div class="col-md-2 center">
                        <img src="assets/img/bradesco.jpg" class="img-thumbnail">
                        <p class="center">
                            Conta Bradesco PF <br>
                            Ag: 0937 <br>
                            Cc: 62784-4 <br>
                            Luis Fernando Martins Luz e Silva<br>
                            040.684.553-09
                        </p>
                    </div>

                    <div class="col-md-2 center">
                        <img src="assets/img/caixa.jpg" class="img-thumbnail">
                        <p class="center">
                            Caixa Economica <br>
                            Ag: 0639 <br>
                            Conta: 37.430-2 <br>
                            Op: 001 <br>
                            Diego Ramon Rodrigues Alves
                        </p>
                    </div>

                    <div class="col-md-2 center">
                        <img src="assets/img/mercadopago.jpg" class="img-thumbnail">
                        <p class="center">
                            Pagar via Boleto e Cartão de Crédito<br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-7166542b-7177-4d54-ba70-8a9b481159d6">Pagar:
                                R$ 10,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-f2183097-14de-48ab-bf87-8a6cd41f924a">Pagar:
                                R$ 13,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-107c492b-1247-41e2-b11c-6f35980daca9">Pagar:
                                R$ 14,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-5ea7dd73-73d0-443b-9649-3a9c17bb09bc">Pagar:
                                R$ 20,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-422ac393-2d5a-4bee-8a70-65a3d5b6a52b">Pagar:
                                R$ 26,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-74ac81d3-8200-4887-9a82-a1946d207d6e">Pagar:
                                R$ 48,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-dc9f69d3-9515-4ce7-a15c-75c1c8f7e542">Pagar:
                                R$ 50,00</a> <br>

                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-65a16a43-e7e7-47ea-b478-670eec9a9458">Pagar:
                                R$ 75,00</a> <br>

                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-1e655bb9-943f-4ffd-ae0c-eb72875bb6e4">Pagar:
                                R$ 90,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-baa72166-b60e-4ef8-a8d1-4942421627f3">Pagar:
                                R$ 100,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-7af5cff8-5a6c-4dea-a730-022dc404162d">Pagar:
                                R$ 120,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-83b9ec5c-02e4-4089-b6a4-ee2e3f9a4cdf">Pagar:
                                R$ 140,00</a> <br>

                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-f5972ae8-042e-437a-91d1-21a463beb5d4">Pagar:
                                R$ 150,00</a> <br>
                            <a
                                href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=137720828-a2e2c172-abdc-496e-97b7-7a7162aa0bae">Pagar:
                                R$ 200,00</a> <br>

                        </p>
                    </div>

                </div>
                <br>
                <div class="row center"> <br><br>
                    <div class="col-md-12">
                        <h3> Para os pagamentos realizados via transferência bancária, o respectivo comprovante deve ser
                            encaminhado por WhatsApp através do link abaixo</h3>
                    </div>
                    <br>
                    <div class="col-md-12">

                        <a href="https://api.whatsapp.com/send?phone=558999143334&text=">
                            <button type="button" class="btn btn-success whatsapp"> <i class="fa fa-whatsapp"
                                    aria-hidden="true"></i>
                                ENVIAR COMPROVANTE</button>
                        </a>
                    </div>

                </div>





            </div>
            <br>



            <br>
        </section>

    </div>










    <footer class="footer position-relative" data-background-color="black">
        <div class="container center">

            <div class="row">
                <div class="col-md-3">

                    <h5>
                        <i class="fas fa-search"></i>
                        ESCOLHA O SORTEIO</h5>
                    <p>
                        Escolha o prêmio que gostaria de concorrer, verifique a descrição, regulamento do sorteio e
                        fotos em caso de dúvidas entre em contato com o administrador
                    </p>

                </div>
                <div class="col-md-3">
                    <h5>
                        <i class="fas fa-check-circle"></i>
                        SELECIONE SEUS NÚMEROS</h5>
                    <p>
                        Você pode escolher quantos números desejar!
                        Mais números, mais chances de ganhar
                    </p>
                </div>
                <div class="col-md-3">
                    <h5>
                        <i class="fas fa-dollar-sign"></i>
                        FAÇA O PAGAMENTO</h5>
                    <p>Faça o pagamento em umas das contas exibidas.
                        Envie o comprovante ao administrador via whatsapp.</p>
                </div>
                <div class="col-md-3">
                    <h5>
                        <i class="fas fa-star"></i>
                        AGUARDE O SORTEIO</h5>
                    <p>Aguarde o sorteio pela Loteria Federal
                        Cruze os dedos
                        Você pode ser o próximo sorteado</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <h4>
                        <a href="https://www.instagram.com/rifasterradomel/?hl=pt-br" target="_blank"><img
                                class="link_thumb" src="" title=""> <i class="fab fa-instagram"></i> Instagram</a>
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4>
                        <a href="https://chat.whatsapp.com/E1Lv3kP6nGV27VXhXzBgIO" class="borda" target="_blank"> <i
                                class="fab fa-whatsapp"> </i> Grupo Whatsapp </a>
                    </h4>
                </div>
            </div>

            <div class="container">


                <div class="row">
                    <div class="col-md-12">
                        <a href="https://www.instagram.com/rifasterradomel/?hl=pt-br" class="fim">
                            Todos os direitos reservados, Rifas terra do mel
                        </a>
                    </div>
                </div>

            </div>



        </div>
    </footer>
</div>

<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Comprar ponto</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Seu nome</label>
                <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="comprador.name"
                    name="name" placeholder="Nome">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Telefone</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" [(ngModel)]="comprador.phone"
                    name="phone" placeholder="Telefone">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="comprador.name == '' || comprador.phone == ''" class="btn btn-info"
            (click)="comprar(); c('Close click')">Comprar</button>
    </div>
</ng-template>

<ng-template #classicdetails let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Buscar Meus Pontos</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput2">Telefone</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" [(ngModel)]="phoneNumber"
                    name="phoneNumber" placeholder="Telefone">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="phoneNumber.length == 0" class="btn btn-info"
            (click)="filtroNumeroTelefone(); c('Close click')">Buscar</button>
    </div>
</ng-template>